{% extends "layout.html" %}

{% block title %}
   Conditions
{% endblock %}





{% block body %}

<h1  style="font-family:didot">Please make sure you statisfy these conditions before registering</h1>
<hr>

<p  style="font-family:didot">There are certain conditions that prevent a person from donating blood temporarily or permanently. Among the temporary conditions are: </p>

<ul  style="font-family:didot">
    <li>Pregnancy </li>
    <li>Acute fever</li>
    <li>Recent alcoholic intake </li>
    <li>Ear or body piercing and tattooing </li>
    <li>Surgery </li>

</ul>


<p  style="font-family:didot">Persons with the following  conditions are not allowed to donate blood anytime: </p>

<ul  style="font-family:didot">
    <li>Cancer </li>
    <li>Cardiac disease</li>
    <li>Hepatitis B and C</li>
    <li>HIV infection, AIDS or Sexually Transmitted Diseases (STD)</li>
    <li>Unexplained weight loss of more than 5 kg over 6 months</li>
    <li>Chronic alcoholism</li>

</ul>



{% endblock %}