{% extends "layout.html" %}

{% block title %}
   Homepage
{% endblock %}


{% block body %}


<div class="jumbotron">
   <h1 class="display-3 text-center" style="font-family:didot" >Welcome to BloodAssit</h1>
   <hr>
   <p class="lead" style="font-family:didot">
      <b>India is yet to become a blood sufficient country</b></p>
    <p class="lead" style="font-family:didot"> Our mission is to change that by encouraging people to donate blood(which they can do so by clicking the register tab above) and providing information about the donors to the people in need.</p>
     <p class="lead" style="font-family:didot">Below are some of the few striking reasons why you should join us in this endeavour: </p>
   <ul style="font-family:didot">
   <li>Every year our nation requires about 5 Crore units of blood, out of which only a meager 2.5 Crore units of blood are available.</li>

   <li>  The gift of blood is the gift of life. There is no substitute for human blood.</li>

   <li>  Every two seconds someone needs blood.</li>

   <li> More than 38,000 blood donations are needed every day.</li>

   <li> A total of 30 million blood components are transfused each year.</li>

   <li> The average red blood cell transfusion is approximately 3 pints.</li>

   <li> The blood type most often requested by hospitals is Type O.</li>

   <li> Sickle cell patients can require frequent blood transfusions throughout their lives.</li>

   <li> More than 1 million new people are diagnosed with cancer each year. Many of them will need blood, sometimes daily, during their chemotherapy treatment.</li>

   <li> A single car accident victim can require as many as 100 units of blood</li>
   </ul>


</div>
<br>
<br>
<br>
<br>
<footer style="text-align:center;font-family:didot">A CS50x Final Project,By Suraj Raj</footer>

{% endblock %}