{% extends "layout.html" %}

{% block title %}
   Info
{% endblock %}

{% block body %}

<h1  style="font-family:didot">Some information on Blood that donors may know</h1>
<hr>
<ul  style="font-family:didot">
 <li>Blood makes up about 7 percent of your body's weight.</li>
 <br>
<li>There are four types of transfusable products that can be derived from blood: red cells, platelets, plasma and cryoprecipitate. Typically, two or three of these are produced from a unit of donated whole blood hence each donation can help save up to three lives.</li>
 <br>
<li>Donors can give either whole blood or specific blood components only. The process of donating specific blood components  red cells, plasma or platelets  is called apheresis.</li>
<br>
<li>One transfusion dose of platelets can be obtained through one apheresis donation of platelets or by combining the platelets derived from five whole blood donations.</li>
<br>
<li>Donated platelets must be used within five days of collection.</li>
<br>
<li>Healthy bone marrow makes a constant supply of red cells, plasma and platelets. The body will replenish the elements given during a blood donation  some in a matter of hours and others in a matter of weeks.</li>
<br>
<li>There are four main blood types: A, B, AB and O.</li>
</ul>








{% endblock %}