{% extends "layout.html" %}

{% block title %}
   Myths
{% endblock %}





{% block body %}


<h1 class="text-center"  style="font-family:didot"> Some general Myths regarding Blood Donation</h1>
<hr>

<ul  style="font-family:didot">
   <li><p><b> Donating blood will hurt.</b></p>
      <p>Blood donation does involve a needle prick, but it is not a painful procedure. It only involves momentary discomfort.</p>
   </li>


   <li><p><b>My health will deteriorate after donating blood.</b></p>
      <p>This is not true. In fact, research has shown that donating blood reduces your chances of developing cardiovascular diseases and prevents excess iron from accumulating in the body.</p>

       <p>A prior medical examination is performed to ascertain if the person is fit enough to donate blood. If your hemoglobin level is below 12.5 gm percent or if you are unfit due to any other reasons, you will not be allowed to donate blood.</p>
   </li>



   <li><p><b>  I will become blood deficit after I donate blood.</b></p>
      <p>Donating blood will not result in a deficit of blood. Blood volume returns to normal levels within 48 hours after blood donation. A healthy individual with good eating habits can donate blood four times a year with a gap of three months.</p>
   </li>


   <li><p><b>My blood type is common, so I do not need to donate blood as it will only serve as surplus.</b></p>
      <p>There is a constant demand of all blood groups. Major surgeries, trauma etc require large amounts of blood. If your blood group is common, it means that there would be more number of people in need of your blood type.</p>
   </li>



   <li><p><b> Donating blood will hurt.</b></p>
      <p>Blood donation does involve a needle prick, but it is not a painful procedure. It only involves momentary discomfort.</p>
   </li>



   <li><p><b>I will need to rest a day after I donate blood.</b></p>
      <p>You can resume work or go back to your normal routine almost immediately after donating blood. However, you need to take care of the following:</p>

        <p> Drink at least 10 -12 glasses of water and/or other liquids within 24 hours following blood donation. However, one needs to avoid alcohol for a day or two.</p>

         <p>Avoid driving, prolonged exposure to the sun or smoking for three to four hours after blood donation.</p>
   </li>


   <li><p><b>Donating blood can lead to obesity.</b></p>
      <p>Donating blood does not directly affect your body weight. Some people eat more than normal and avoid exercise after donation that may in turn lead to weight gain.</p>
   </li>


   <li><p><b>I suffer from high blood pressure, I can’t donate blood.</b></p>
      <p>As long the blood pressure is below 180 mm/Hg systolic and 100 mm/Hg dialstolic at the time of your donation, you may give blood. Medications that you take for high blood pressure do not disqualify you from donating.</p>
   </li>
</ul>



{% endblock %}